.border{
    padding-top: 10px;
    width: 85%;
    margin: 0 auto;
    background: none;
}
.aiHome{
    padding-top: 100px;
    background-color: rgba(3, 69, 170, 0.147);

    box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: flex-start;
    color: black;
}
.aiHome p{
    font-weight: 700;
    font-size: 25px;
}
.aiHome p:hover{
    cursor: pointer;
}
.aiHome .icon:hover{
    cursor: pointer;
}
.request{
    border: 2px solid rgb(13,17,22);
    border-radius: 20px;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.request input{
    background-color: #22569e;
    border: none;
    padding-left: 20px;
    border-radius: 9px;
    height: 40%;
    color: black;
}
.request input::placeholder{
    color: rgb(226, 214, 214);
    font-size: 16px;
}
.destReq{
    width: 65%;
}
.noOfDays{
    width: 15%;
}
.request button{
    border: none;
    background: none;
    border-radius: 9px;
    height: 40%;
}
.response{
    border-radius: 20px;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid black;
    background-color: rgba(0, 96, 128, 0.336);
    justify-items: center;
}
.summary{
    margin: 20px 0px;
    color: black;
    font-weight: 550;
    font-size: 20px;
    font-family: cursive;
    background-color: rgb(0, 149, 255);
    border-radius: 10px;
    border: 2px solid black;
    width: 30%;
}
.summ{
    justify-items: center;
     margin: 20px 0px;
    color: black;
    font-weight: 550;
    font-size: 18px;
    font-family: cursive;
    background-color: rgba(0, 149, 255, 0.523);
    border-radius: 10px;
    border: 2px solid black;
}